

<!-- footer  -->
<footer>

    <div class="companyInfo">

        <div class="compinfo">
            <i class="fa-solid fa-location-dot"></i>
            <div class="texts">
                <p>Our Library Location:</p>
                <h4>Government Engineering College Munger</h4>
            </div>

        </div>

        <div class="compinfo">
            <i class="fa-solid fa-phone"></i>
            <div class="texts">
                <p>Contact Us:</p>
                <h4>+123-456-7890</h4>
            </div>
        </div>

        <div class="compinfo">
            <i class="fa-solid fa-envelope"></i>
            <div class="texts">
                <p>Email Us:</p>
                <h4>info@germunger.com</h4>
            </div>
        </div>

        <div class="compinfo">
            <i class="fa-solid fa-clock"></i>
            <div class="texts">
                <p>Our Study Hours:</p>
                <h4>9:00 am - 6:00 pm</h4>
            </div>
        </div>

    </div>

    <div class="companySocial">
        <p>Connect with us on :</p>

        <div class="socialMedia">
            <a href=""> <i class="fa-brands fa-facebook"></i> </a>
            <a href=""> <i class="fa-brands fa-square-instagram"></i> </a>
            <a href=""> <i class="fa-brands fa-x-twitter"></i> </a>
            <a href=""> <i class="fa-brands fa-linkedin"></i> </a>
        </div>
    </div>

</footer>