<% layout("/layouts/boilerplate") %>



<h1 class="card-title text-center mt-5"><b>Electrical Engineering</b></h1>
<h4 class="card-title text-center ">All Subjects</h4>
<div class="row mt-5 offset-1">
    <div class="card text-bg-primary mb-3 " style="max-width: 23rem;">
        <div class="card-header">BEE</div>
        <div class="card-body">
          <h5 class="card-title">Basic Electrical Engineering</h5>
          <p class="card-text"> </p>
          <a href="/ee/bee"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-secondary mb-3" style="max-width: 23rem;">
        <div class="card-header">ECA</div>
        <div class="card-body">
          <h5 class="card-title">Electrical Circuit Analysis</h5>
          <p class="card-text"></p>
          <a href="/ee/eca"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="max-width: 23rem;">
        <div class="card-header">AE</div>
        <div class="card-body">
          <h5 class="card-title">Analog Electronics</h5>
          <p class="card-text"></p>
          <a href="/ee/ae"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">EM</div>
        <div class="card-body">
          <h5 class="card-title">Electrical Machine</h5>
          <p class="card-text"></p>
          <a href="/ee/em"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-warning mb-3" style="max-width: 23rem;">
        <div class="card-header">EF</div>
        <div class="card-body">
          <h5 class="card-title">Electromagnatic Fields</h5>
          <p class="card-text"></p>
          <a href="/ee/ef"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-info mb-3" style="max-width: 23rem;">
        <div class="card-header">EM1</div>
        <div class="card-body">
          <h5 class="card-title">Engineering Mechanics-1</h5>
          <p class="card-text"></p>
          <a href="/ee/em1"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-light mb-3" style="max-width: 23rem;">
        <div class="card-header">EM2</div>
        <div class="card-body">
          <h5 class="card-title">Engineering Mechanics-2</h5>
          <p class="card-text"></p>
          <a href="/ee/em2"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">DE</div>
        <div class="card-body">
          <h5 class="card-title">Digital Electronics</h5>
          <p class="card-text"></p>
          <a href="/ee/de"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-warning mb-3" style="max-width: 23rem;">
        <div class="card-header">EEM</div>
        <div class="card-body">
          <h5 class="card-title">Electrical and Electronic Measurement</h5>
          <p class="card-text"></p>
          <a href="/ee/eem"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-info mb-3" style="max-width: 23rem;">
        <div class="card-header">SS</div>
        <div class="card-body">
          <h5 class="card-title">Signals and System</h5>
          <p class="card-text"></p>
          <a href="/ee/ss"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-secondary mb-3" style="max-width: 23rem;">
        <div class="card-header">PS1</div>
        <div class="card-body">
          <h5 class="card-title">Power System-1</h5>
          <p class="card-text"></p>
          <a href="/ee/ps1"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="max-width: 23rem;">
        <div class="card-header">PS2</div>
        <div class="card-body">
          <h5 class="card-title">Power System-2</h5>
          <p class="card-text"></p>
          <a href="/ee/ps2"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">CS</div>
        <div class="card-body">
          <h5 class="card-title">Control System</h5>
          <p class="card-text"></p>
          <a href="/ee/cs"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">microp</div>
        <div class="card-body">
          <h5 class="card-title">Microprocessors</h5>
          <p class="card-text"></p>
          <a href="/ee/microp"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">PE</div>
        <div class="card-body">
          <h5 class="card-title">Power Electronics</h5>
          <p class="card-text"></p>
          <a href="/ee/pe"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">PSP</div>
        <div class="card-body">
          <h5 class="card-title">Power System Protection</h5>
          <p class="card-text"></p>
          <a href="/ee/psp"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>


</div>
    

