<% layout("/layouts/boilerplate") %>



    <div class="mainContainer">

        <div id="home" class="hero">
            <div class="infoBox">

                <div class="textInfoBox">
                    <h3>Welcome to Book Wiz</h3>
                    <h1>Welcome to Government Engineering College Munger Digital Library</h1>
                    <p>"You want weapons? We’re in a library. Books are the best
                         weapon in the world. This room’s the greatest arsenal
                          we could have. Arm yourself!"</p>
                </div>

                <div class="buttonsBox">
                    
                    <input type="text" class="discovermore" placeholder="Discover Books" name="DiscoverBook">
                    <button class="bbtn">Search </button>
                </div>
            </div>
        </div>

</div>
    
       <!-- cardsSections -->

       <section class="cardsSections">

        <div class="cards">
            <div class="customers">
                <i class="fa-solid fa-computer"></i>
                <h2>Computer Science & Engineering</h2>
                <div class="boldText">CSE + DS
                    </div>
                    <form action="/cse" method="get">
                        <button class="learnmore">Books</button>
                    </form>
                    
            </div>

            <div class="Installation">
                <i class="fa-solid fa-building"></i>
                <h2>Civil Engineering
                </h2>

                <p class="cards-p">All Books Avilable Here</p>
                <form action="/ce" method="get">
                    <button class="learnmore">Books</button>
                </form>
            </div>

            <div class="Maintenance">
                <i class="fa-solid fa-network-wired"></i>
                <h2>Electrical Engineering
                </h2>

                <p class="cards-p">All Books Avilable Here</p>
                <form action="/ee" method="get">
                    <button class="learnmore">Books</button>
                </form>
            </div>

            <div class="Consultation">
                <i class="fa-solid fa-car"></i>
                <h2>Mechanical Engineering
                </h2>

                <p class="cards-p">All Books Avilable Here</p>
                <form action="/me" method="get">
                    <button class="learnmore">Books</button>
                </form>
            </div>

        </div>

    </section>

            <!-- aboutus -->

            <section id="about" class="aboutus">

                <div class="text-btns">
                    <h4 class="intro">Introduction:</h4>
                    <h1 class="hardText">Government Engineering College Munger Library</h1>
                    <p>The Government Engineering College, Munger library is well-maintained and has hundreds of 
                        volumes on many technical fields. The library and labs are 
                        where a technical college gets its soul, as has been observed
                         with some justification. GEC MUNGER is lucky to have a rather
                          comprehensive, manageable, and well-organized library in this 
                          competition. The library is open at the same hours as the college.
                         There are several periodicals and newspaper with the curriculum books in the reading room.
                    </p>
                    <form action="https://gecmunger.org/?page_id=154" method="get">
                        <button class="getStarted">Discover more</button>
                    </form>
                    
                </div>
    
                <div class="images">
                    <img src="public/images/bg14.jpg" alt="image">
    
                    <div class="textmsgbox">
                        <i class="fa-solid fa-book"></i>
                        <p>BookWiz</p>
                        <h1>Nothing is pleasanter than exploring a library.</h1>
                    </div>
                </div>
    
            </section>
    
            <!-- service -->
    
            <section id="service" class="servicesSection">
    
                <div class="servicesCards">
    
                    <div class="service">
                        <div class="image">
                            <img src="public/images/bg15.jpeg" alt="image">
                        </div>
    
                        <div class="textArea">
                            <h1>News Paper</h1>
                            <p>Our library offers a comprehensive newspaper facility, providing access to a
                                 wide range of local, national, and international newspapers.
                                  
                            </p>
                            <button class="btn">Facilites Avilable</button>
                        </div>
                    </div>
    
                    <div class="service">
                        <div class="image">
                            <img src="public/images/bg16.jpeg" alt="image">
                        </div>
    
                        <div class="textArea">
                            <h1>Magazines</h1>
                            <p>Our library is proud to offer a diverse selection of magazines,
                                 catering to a wide range of interests and age groups.
                            </p>
                            <button class="btn">Facilites Avilable</button>
                        </div>
                    </div>
    
                    <div class="service">
                        <div class="image">
                            <img src="public/images/bg17.jpeg" alt="image">
                        </div>
    
                        <div class="textArea">
                            <h1>Novels </h1>
                            <p>Our library boasts an extensive and carefully curated collection of novels,
                                 catering to readers of all tastes and preferences.
                            </p>
                            <button class="btn">Facilites Avilable</button>
                        </div>
                    </div>
    
    
                </div>
    
            </section>

        <!-- project -->

        <section id="project" class="projectsection">

            <div class="projectscards">


                <div class="projcts">
                    <div class="textbox">
                        <h1>Wifi Facilites for Students</h1>
                        <p>Government Engineering College Munger is well connected from its ISP
                             (Internet Service Provider) via a leased optical fiber cable carrying
                              a data rate of 100 Mbps from Bharat Sanchar Nigam Limited. Internet
                               facility is provided in whole campus, labs and hostels using wired
                                and Wi-Fi techniques. The computer center operates unremitting
                                 Wi-Fi Service for students for hassle free
                            learning experience. It has broadband internet connectivity round the clock.</p>
                    </div>

                    <div class="image">
                        <img src="public/images/bg18.jpg" alt="image">
                    </div>
                </div>

                <div class="projcts row-revers">
                    <div class="textbox">
                        <h1>Computer Center in Library</h1>
                        <p>A well-equipped central computer center is available at Government Engineering College
                             Munger, to serve the requirements of the institution’s teachers and students.
                              It is housed, in a spectacular state-of-the-art structure containing specialized laboratories
                             to provide a choice of platforms and computing environment for undergraduate students.</p>
                    </div>

                    <div class="image">
                        <img src="public/images/bg19.jpeg" alt="image">
                    </div>
                </div>

            </div>

        </section>    
    


