<% layout("/layouts/boilerplate") %>



<h1 class="card-title text-center mt-5"><b>Mechanical Engineering</b></h1>
<h4 class="card-title text-center ">All Subjects</h4>
<div class="row mt-5 offset-1">
    <div class="card text-bg-primary mb-3 " style="max-width: 23rem;">
        <div class="card-header">OOPS</div>
        <div class="card-body">
          <h5 class="card-title">Object Oriented Programing Using C++</h5>
          <p class="card-text"> </p>
          <a href="/cse/oops"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-secondary mb-3" style="max-width: 23rem;">
        <div class="card-header">DSA</div>
        <div class="card-body">
          <h5 class="card-title">Data Structure and Algorithm</h5>
          <p class="card-text"></p>
          <a href="/cse/dsa"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="max-width: 23rem;">
        <div class="card-header">PPS</div>
        <div class="card-body">
          <h5 class="card-title">Programing for Problem solving</h5>
          <p class="card-text"></p>
          <a href="/cse/pps"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">COA</div>
        <div class="card-body">
          <h5 class="card-title">Computer Organisation and Architecture</h5>
          <p class="card-text"></p>
          <a href="/cse/coa"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-warning mb-3" style="max-width: 23rem;">
        <div class="card-header">OS</div>
        <div class="card-body">
          <h5 class="card-title">Operating System</h5>
          <p class="card-text"></p>
          <a href="/cse/os"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-info mb-3" style="max-width: 23rem;">
        <div class="card-header">DAA</div>
        <div class="card-body">
          <h5 class="card-title">Design and Analysis of Algorithm</h5>
          <p class="card-text"></p>
          <a href="/cse/daa"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-light mb-3" style="max-width: 23rem;">
        <div class="card-header">DE</div>
        <div class="card-body">
          <h5 class="card-title">Digital Electronics</h5>
          <p class="card-text"></p>
          <a href="/cse/de"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">DBMS</div>
        <div class="card-body">
          <h5 class="card-title">Database Management System</h5>
          <p class="card-text"></p>
          <a href="/cse/dbms"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-warning mb-3" style="max-width: 23rem;">
        <div class="card-header">AI</div>
        <div class="card-body">
          <h5 class="card-title">Artificial Intelligence</h5>
          <p class="card-text"></p>
          <a href="/cse/ai"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-info mb-3" style="max-width: 23rem;">
        <div class="card-header">SE</div>
        <div class="card-body">
          <h5 class="card-title">Software Engineering</h5>
          <p class="card-text"></p>
          <a href="/cse/se"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-secondary mb-3" style="max-width: 23rem;">
        <div class="card-header">CD</div>
        <div class="card-body">
          <h5 class="card-title">Compiler Design</h5>
          <p class="card-text"></p>
          <a href="/cse/cd"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-success mb-3" style="max-width: 23rem;">
        <div class="card-header">CN</div>
        <div class="card-body">
          <h5 class="card-title">Computer Networks</h5>
          <p class="card-text"></p>
          <a href="/cse/cn"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>
      <div class="card text-bg-danger mb-3" style="max-width: 23rem;">
        <div class="card-header">ML</div>
        <div class="card-body">
          <h5 class="card-title">Machine Learning</h5>
          <p class="card-text"></p>
          <a href="/cse/ml"><button class="btn btn-light mt-5">Click here-></button> </a> 
        </div>
      </div>


</div>
    



    <h1>Electrical Engineering</h1>
    <h3>ALL subjects</h3>
    <a href="/ce/bee">Engineering Graphics and Design</a><br><br>
    <a href="/ce/eca">Basic Electronics</a><br><br>
    <a href="/ce/ae">Computer Aided Civil Engineering Drawing</a><br><br>
    <a href="/ce/em">Engineering Mechanics</a><br><br>
    <a href="/ce/ef">Serveying and Geomatics</a><br><br>
    <a href="/ce/em1">Introduction to Civil Engineering</a><br><br>
    <a href="/ce/em2">Mechanical Engineering</a><br><br>
    <a href="/ce/de">Engineering Geology</a><br><br>
    <a href="/ce/eem">Disaster Preparadness and Planning</a><br><br>
    <a href="/ce/ss">Introduction to Fluid Mechanics</a><br><br>
    <a href="/ce/ps1">Introduction to Solid Mechanics</a><br><br>
    <a href="/ce/ps2">Structural Analysis</a><br><br>
    <a href="/ce/cs">Mechanics of Materials</a><br><br>
    <a href="/ce/microp">Hydraulic Engineering</a><br><br>
    <a href="/ce/pe">Analysis and Design of Concrete Structure</a><br><br>
    <a href="/ce/psp">Geotechnical Engineering-1</a><br><br>
    <a href="/ce/psp">Hydrology and Water Resources Engineering</a><br><br>
    <a href="/ce/psp">Transportation Engineering</a><br><br>
    <a href="/ce/psp">Environmental Engineering-1</a><br><br>
    <a href="/ce/psp">Environmental Science</a><br><br>
    <a href="/ce/psp">Construction Engineering and Management</a><br><br>
    <a href="/ce/psp">Engineering Economics Estimation and Costing</a><br><br>
    <a href="/ce/psp">Design of Steel Structure</a><br><br>
    <a href="/ce/psp">Geotechnical Engineering-2</a><br><br>
    <a href="/ce/psp">Environmental Engineering-2</a><br><br>
